#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 20px;
    display: none;
    font-size: 1.5em;
    text-align: left;
    background-color: white;
}

#hide, #show {
	padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#newproduct {
    padding: 5px;
    text-align: center;
    background-color: #47476B;
    border: solid 1px #c3c3c3;
    color: white;
    font-size: 1.5em;
}

#productlist {
    padding: 5px;
    text-align: left;
    background-color: white;
    border: solid 1px #c3c3c3;
    font-size: 1,25em;
}

#th {
	font-size: 2em;
	background-color: #E6E68A;
	color: FFFFFF;
}

#body {
	background-color: #47476B;
}

#fornotice {
	border: solid 1px #c3c3c3;
}

#box {
	padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#title {
    font-size: 1.25em;
    color: FFFFFF;

}

#empty {
    font-size: 1.25em;
}

#description {
    font-size: 1.2em;
}

#usercontent {
    font-size: 1.25em;
    color: FFFFFF;
}

#usertitle {
    background-color: #FFFF99;
    font-size: 1.25em;
}

#bold {
    font-weight: bold;
}

#tabletitle {
    font-size: 1.25em
}

#threviews {
    font-size: 1.5em;
    background-color: #E6E68A;
    color: FFFFFF;
}

#center {
    text-align: center;
}

#reviewrating {
    width: 200px;
}

#titlewidth {
    width: 400px;
}

#italic {
    font-style: italic;
}