#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 20px;
    display: none;
    font-size: 1.5em;
    text-align: left;
    background-color: white;
}

#hide, #show {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#newproduct {
    padding: 5px;
    text-align: center;
    background-color: #47476B;
    border: solid 1px #c3c3c3;
    color: white;
    font-size: 1.5em;
}

#productlist {
    padding: 5px;
    text-align: left;
    background-color: white;
    border: solid 1px #c3c3c3;
    font-size: 1,25em;
}

#th {
    font-size: 2em;
    background-color: #E6E68A;
    color: FFFFFF;
}

#body {
	background-color: #47476B;
}

#fornotice {
	border: solid 1px #c3c3c3;
}

#box {
	padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#title {
    font-size: 1.25em;
    color: FFFFFF;

}

#empty {
    font-size: 1.25em;
}

#description {
    font-size: 1.2em;
}

#usercontent {
    font-size: 1.25em;
    color: FFFFFF;
}

#usertitle {
    background-color: #FFFF99;
    font-size: 1.25em;
}

#bold {
    font-weight: bold;
}

#tabletitle {
    font-size: 1.25em
}

#threviews {
    font-size: 1.5em;
    background-color: #E6E68A;
    color: FFFFFF;
}

#center {
    text-align: center;
}

#reviewrating {
    width: 200px;
}

#titlewidth {
    width: 400px;
}

#italic {
    font-style: italic;
}

.pagination {
  background: white;
  cursor: default;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    color: #999999;
    border: 1px solid #dddddd;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
  }
  a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
  /* self-clearing method: */
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & {
    height: 1%;
  }
  *:first-child+html & {
    overflow: hidden;
  }
}